* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
}

.container-custom{
    max-width: 0 0 auto;
    justify-content: center;
}

.trenord{
    width: 350px;
    padding: 20px;
}

h1{
    font-size: 2em;
}
.contenitore{
    width: 1200px;
}
.nome-passeggero{
    width: 280px;
    height: 110px;
    background-color: grey;
}




